.form {
  box-shadow: 0px 0px 5px 5px #A4ABBD;//#ee9c9c; // rgb(255, 121, 188);
  vertical-align: middle;
  text-align: center;
  padding: 2%;
  margin: auto; //0% 1%;
  border: grey;

  // background-image: linear-gradient(
  //   to left bottom,
  //   #ee9c9c,
  //   #eb8286,
  //   #e76771,
  //   #e2475e,
  //   #db154c
  // );
  background-image: linear-gradient(to left bottom, #2c92fa, #6098eb, #7d9edc, #92a4cc, #a4abbd);

  color: white;
  width: fit-content;
  h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 24px;
    letter-spacing: -1.6px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin: 5%;
  }
  button {
    margin: auto;
    display: block;
    //background-color: #03a9f4;
    background-color: #2f2c23;
    border: white;
    padding: 2% 5%;
    border-radius: 5%;
  }
  .closeAdd {
    float: right;
  }
  .formElement {
    label {
      margin: 1%;
    }
    input {
      margin: 1%;
      color: grey;
    }
    input [type="file"] {
      color: white;
      //display: none;
    }
    textarea {
      color: grey;
    }

    display: flex;
    justify-content: space-between;
    margin: 1%;
  }
}
