
nav{
  top: 0;
  position: fixed;
  display: block;
  background-color: rgba(238, 156, 156, 0.466);
  height: 55px;
  width: 100%;
  border-radius: 5px;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

/* Style the "Login" button */
.loginbtn {
  padding: 10px;
  display: block;
  background: black;
  color: #ffffff;
  background-color: #d6492698;
  border-radius: 10px;
  float: right;
  margin-right: 5px;
  text-align: center;
  font-size: 24px;
  width: max-content;
  cursor: pointer;;
  transition: 0.3s;
  border-radius: 2;
}

.loginbtn:hover {
  background-color: black;
}

.addbtn{
  background: grey;
  padding: 10px 50px;
  margin-right: 10px;
  height: 40px;
}

.navbar-username {
  padding: 2%;
  margin: auto;
 font-size: 21px;
 color: #d64926b2;;
 display: flex;
 width: 15%;
 justify-content: flex-end;


}