.navbar_nav {
	top: 0;
	position: fixed;
	height: 65px;
	width: 100%;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
	background-color: #013A6B;
	background-image: -webkit-linear-gradient(-30deg, #013A6B 75%, #004E95 50%);
	.nav_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			color: #ffffff;
			font-size: 16px;
		}
		.navbtn {
			svg {
				margin: -1px 0;
			}
		}
		.navbtn:hover {
			color: #d1d1d1;
		}
	}
	.brand_logo {
		.logo{
			cursor: pointer;
			font-size: 20px;
			align-items: center;
			padding: 0px 25px;
			img {
				height: 65px;
			}
		}
	}
}

.container {  
  display: flex;  
}

.actionWrapper {
	display: flex;
    align-items: center;
}