.modal_fade {
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  .modal_body {
    position: fixed;
    z-index: 2;
  }
}
