.cards_container {
	// display: flex;
	// flex-flow: column wrap;
	// justify-content: space-evenly;
	// gap: 10px 5px;
	display: grid;
	height: 100%;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}
