@import '../../../Utils/Design-Tokens/CommonScssUtil.scss';

.column_fieldset {
    margin-bottom: 10px;
    position: relative;
    @include flex-mixin(column, unset, unset);
    label {
        font-size: 13px;
        font-weight: 500;
        color: #8b8b8b;
        position: absolute;
        top: 9px;
        background: white;
        left: 13px;
        padding: 0px 5px 5px 5px;
    }
    input {
        padding: 10px;
        border: 1px solid #bdbdbd;
        border-radius: 10px;
        outline-color: #ecd9b9;
        width: 100%;
        margin-top: 20px;
        &.is-invalid-input {
            border: 1px solid #eb2e24;
        }
    }
    .profileImg {
        width: 115px;
        height: 110px;
        border: 1px solid #b9b9b9;
        border-radius: 70px;
        object-fit: cover;
        object-position: top;
    }
}

.btn_wrapper {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ._orSeparator {
        font-size: 12px;
        color: #616161;
    }
    button {
        @extend %default-btn-style;
        color: #ffffff;
        background-color: #03a9f4;
        border-color: #03a9f4;
        vertical-align: middle;
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 25px;
        &:disabled, &[disabled] {
            border: 1px solid #c5c5c5;
            background-color: #cccccc;
            color: #666666;
        }
    }
    .googleLogin {
        >div {
            padding: 8px !important;
        }
        >span {
            padding: 8px 10px 8px 0px !important;
        }
    }
}

.noAccount {
    text-align: right;
    font-size: 14px;
    color: #757575;
    margin: 10px 0;
    button {
        color: #2196f3;
    }
}